<%- include('partials/header'); -%>
    <!DOCTYPE html>
    <html>

    <head>
        <title> Contact Us</title>
        <style>
            .main {
                padding: 0px;
                font-family: 'Helvetica', serif;
            }
            
            .main h1 {
                font-size: 30px;
                text-align: center;
                font-family: 'Helvetica', serif;
            }
            
            input {
                font-family: 'Helvetica', serif;
                width: 100%;
                font-size: 20px;
                padding: 12px 20px;
                margin: 8px 0;
                border: none;
                border-bottom: 2px solid #da2c2c;
            }
            
            input[type=submit] {
                font-family: 'Helvetica', serif;
                width: 100%;
                background-color: #8d0808;
                border: none;
                color: white;
                padding: 16px 32px;
                margin: 4px 2px;
                border-radius: 10px;
            }
        </style>
    </head>

    <body>

        <form action="/contact" method="post">
            <center>
                <h1> Contact Us </h1>
            </center>
            <input class="box" type="text" name="name" id="name" placeholder="Name" required /><br>

            <input class="box" type="email" name="email" id="email" placeholder="E-Mail " required /><br>

            <input class="box" type="text" name="phone" id="phone" placeholder="Phone Number " required/><br>

            <input class="box" type="text" name="message" id="message" placeholder="Message " required/><br>
            <br>
            <input type="submit" id="submitDetails" name="submitDetails" value="Feedback" /><br>
        </form>
    </body>

    </html>

    <%- include('partials/footer'); -%>