<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/images/11.jpg" alt="">
        </div>
        <div class="headings">
            <h2>Maintain the beauty of your soul and body by learning Yoga!</h2>
            <h3>क्योंकि योगा से होगा!</h3>
            <div>
                <a href="/suryanamskar" class="btn">सूर्य नमस्कार</a>
                <a href="/gallery" class="btn">योग आसन</a>
                <a href="/pranayam" class="btn">प्राणायाम</a>
                <a href="/classes" class="btn">Classes</a>
                <a href="/patanjaliayurved" class="btn">Patanjali Ayurved</a>
                <a href="/contact" class="btn">Contact Us</a>
                <a href="/about" class="btn">About Us</a>
            </div>
            <br>
            <div>
                <h1>What Is Yoga?</h1>
                <h3>"Yoga is the calming down the fluctuations/patterns of consciousness."<br>✍ - पतंजलि</h3>
                <h3>“The methods and technologies of how to experience that which is beyond the physical is what is known as the science of Yoga.”<br> ✍ – सद्‌गुरु</h3>
            </div>
        </div>
    </header>


    <%- include('partials/footer'); -%>