<%- include('partials/header'); -%>
    <h1 align="center">सूर्य नमस्कार</h1>
    <a href="https://www.youtube.com/watch?v=ENeA0KQKMK0"><img style="margin-top: 10px;" src="/images/maxresdefault.jpg" alt="" width="100%" height="500px"></a>
    <ul class="recipes">
        <li class="recipe">
            <img src="/images/1.jpg" alt="yoga image not showing">
            <h4>1. Pranamasana</h4>
            <h6>(Prayer pose)</h6>
            <p>Stand straight with both hands folded. Close your eyes. Concentrate on the 'command cycle' and invoke 'Sun God' through the mantra 'ॐ मित्राय नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/2.jpg" alt="yoga image not showing">
            <h4>2. Hasta Uttanasana</h4>
            <h6>(Raised Arms Pose)</h6>
            <p>While inhaling, spread both hands along the ears, tilt upwards and tilt the arms and neck backwards. Focus on the 'Vishuddhi Chakra' on the back of the neck, through the mantra 'ॐ रवये नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/3.jpg" alt="yoga image not showing">
            <h4>3. Padahastasan</h4>
            <h6>(Hand to foot pose)</h6>
            <p>while exhaling slowly, tilt forward. With hands and neck, touch the earth right and left of the feet by going down adjacent to the ears. Knees stay straight. Pause for a few moments in the same position while meditating on the forehead knees,
                focusing on the 'Manipuraka Chakra' behind the navel, through the mantra 'ॐ सूर्याय नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/4.jpg" alt="yoga image not showing">
            <h4>4. Ashwa Sanchalanasana</h4>
            <h6>(Equestrian pose)</h6>
            <p>move the left leg backwards while filling the breath. Stretch the chest forward. Tilt the neck more back. Leg stretched straight back stretch and foot paw. Wait a while in this situation. Take the meditation to 'Swadhisthan' or 'Vishuddhi
                Chakra', through the mantra 'ॐ भानवे नमः'.
            </p>
        </li>
        <li class="recipe">
            <img src="/images/5.jpg" alt="yoga image not showing">
            <h4>5. Parvatasana</h4>
            <h6>(Mountain pose)</h6>
            <p>Exhale the breath slowly, move the right leg back as well. The legs of the two legs are joined together. Stretch the body backwards and try to match the ankles to the earth. Raise the buttocks as high as possible. Tilt the neck down and apply
                the chin to the moth. Practice focusing on the 'Sahasrara Chakra', through the mantra 'ॐ खगाय नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/6.jpg" alt="yoga image not showing">
            <h4>6. Ashtanga Namaskara</h4>
            <h6>(Salute with eight parts or points)</h6>
            <p>While inhaling, prostrate the body parallel to the earth, straight prostrate and first place the knee, chest and forehead on the earth. Lift the buttocks slightly. Exhale. Focus on the 'Anahata Chakra', through the mantra 'ॐ पूष्णे नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/7.jpg" alt="yoga image not showing">
            <h4>7. Bhujangasana</h4>
            <h6>(Cobra pose)</h6>
            <p>while filling the breath slowly, pull the chest forward and straighten the hands. Move the neck backwards. Knees touch the earth and feet remain claws. Pull the base and restrain the attention there, through the mantra 'ॐ हिरण्यगर्भाय नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/5.jpg" alt="yoga image not showing">
            <h4>8. Parvatasana</h4>
            <h6>(Mountain pose )</h6>
            <p>Exhale the breath slowly, move the right leg back as well. The legs of the two legs are joined together. Stretch the body backwards and try to match the ankles to the earth. Raise the buttocks as high as possible. Tilt the neck down and apply
                the chin to the moth. Practice focusing on the 'Sahasrara Chakra', through the mantra 'ॐ मरीचये नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/4.jpg" alt="yoga image not showing">
            <h4>9. Ashwa Sanchalanasana</h4>
            <h6>(Equestrian pose)</h6>
            <p>move the left leg backwards while filling the breath. Stretch the chest forward. Tilt the neck more back. Leg stretched straight back stretch and foot paw. Wait a while in this situation. Take the meditation to 'Swadhisthan' or 'Vishuddhi
                Chakra', through the mantra 'ॐ आदित्याय नमः'.
            </p>
        </li>
        <li class="recipe">
            <img src="/images/3.jpg" alt="yoga image not showing">
            <h4>10. Padahastasan)</h4>
            <h6>(Hand to foot pose</h6>
            <p>while exhaling slowly, tilt forward. With hands and neck, touch the earth right and left of the feet by going down adjacent to the ears. Knees stay straight. Pause for a few moments in the same position while meditating on the forehead knees,
                focusing on the 'Manipuraka Chakra' behind the navel, through the mantra 'ॐ सवित्रे नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/2.jpg" alt="yoga image not showing">
            <h4>11. Hasta Uttanasana</h4>
            <h6>(Raised Arms Pose)</h6>
            <p>While inhaling, stretch both arms up towards the ears and tilt the arms and neck backwards. Focus on the 'Vishuddhi Chakra' on the back of the neck, through the mantra 'ॐ अर्काय नमः'.</p>
        </li>
        <li class="recipe">
            <img src="/images/1.jpg" alt="yoga image not showing">
            <h4>12. Pranamasana</h4>
            <h6>(Prayer pose)</h6>
            <p>Stand straight with both hands folded. Close your eyes. Concentrate on the 'command cycle' and invoke 'Sun God', through the mantra 'ॐ भास्कराय नमः'.</p>
        </li>
    </ul>

    <%- include('partials/footer'); -%>